:root {
  --loader-width: 250px;
  --loader-dot-size: 20px;
}

.preload {
  height: 100vh;
  width: 100%;
  font-family: Helvetica;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  z-index: 9999;
}


.loader {
  height: var(--loader-dot-size);
  width: var(--loader-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader--dot {
  animation: loader 3s ease-in-out infinite;
  height: var(--loader-dot-size);
  width: var(--loader-dot-size);
  border-radius: 50%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}

.loader--text {
  position: absolute;

  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: black;
  font-size: 25px;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45%, 65% {
    transform: translateX(calc(var(--loader-width) - var(--loader-dot-size)));
  }
  95% {
    transform: translateX(0);
  }
  
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

/* Update the font family to a more appealing one */
body {
  font-family: Arial, sans-serif;
}

/* Add animation to buttons */
#quiz button {
  background: linear-gradient(45deg, #4CAF50, #2196F3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect to buttons */
#quiz button:hover {
  transform: scale(1.05);
}

